<section class="basic-information">
  <section class="basic-information__student">
    <header class="basic-information__header">
      <h2>Student Information</h2>
    </header>

    <section class="basic-information__fields">
      <div class="basic-information__field">
        <h4>SIS</h4>
        <p>{{student().sis}}</p>
      </div>

      <div class="basic-information__field">
        <h4>Password</h4>
        <p>{{student().password}}</p>
      </div>

      <div class="basic-information__field">
        <h4>Birthday</h4>
        <p>{{student().birthday}}</p>
      </div>
    </section>
  </section>

  <section class="basic-information__codes">
    <header class="basic-information__header">
      <h2>Codes</h2>
    </header>

    <section class="basic-information__fields">
      @for (code of codes(); let idx = $index; track code) {
        <div class="basic-information__code">
          <h4>Code {{idx + 1}}: </h4>

          <p>{{code}}</p>
        </div>
      }
    </section>
  </section>
</section>
