<wizard
  [currentStep]="CURRENT_STEP"
  [steps]="STEPS"
  [disabledNext]="!form().valid"
  (next)="handleSubmitData()"
  (previous)="goBack.emit()"
>
  <section class="courses-form">
    <course-form (eventAddCourse)="addCourse($event)"></course-form>

    <section class="courses-container">
      <section class="courses-header">
        <h2>Materias agregadas:</h2>
      </section>

      <section class="courses-content">
        <section class="courses-list">
          @for (course of courses(); track course.code) {
            <section class="course">
              <section class="course-info">
                <div class="info-card">
                  <span class="label">Codigo Materia</span>
                  <span class="value">{{ course.code }}</span>
                </div>
                <div class="info-card">
                  <span class="label">Tipo</span>
                  <span class="value">{{ course.type }}</span>
                </div>
                <div class="info-card">
                  <span class="label">Grupo</span>
                  <span class="value">{{ course.group }}</span>
                </div>
              </section>

              <button class="close-btn" (click)="removeCourse(course.code)">
                ✕
              </button>
            </section>
          } @empty {
            <p>Agrega materias o Continua</p>
          }
        </section>
      </section>
    </section>
  </section>
</wizard>
