<div class="form-container">
    <div class="left-panel"></div>

    <div class="right-panel">
        <div class="stepper">
            <div class="step" [class.active]="false">
            <span class="step-number">1</span>
            </div>

            <div class="step" [class.active]="true">
            <span class="step-number">2</span>
            </div>

            <div class="step" [class.active]="false">
            <span class="step-number">3</span>
            </div>
        </div>

        <section class="courses-form">
            <course-form (eventAddCourse)="addCourse($event)"></course-form>

            <section class="courses-container">
                <section class="courses-header">
                    <h2>Materias agregadas:</h2>
                </section>

                <section class="courses-content">
                    <section class="courses-list">
                    @for (course of courses(); track course.code) {
                        <section class="course">
                            <section class="course-info">
                                <div class="info-card">
                                <span class="label">Codigo Materia</span>
                                <span class="value">{{course.code}}</span>
                                </div>
                                <div class="info-card">
                                <span class="label">Tipo</span>
                                <span class="value">{{course.type}}</span>
                                </div>
                                <div class="info-card">
                                <span class="label">Grupo</span>
                                <span class="value">{{course.group}}</span>
                                </div>
                            </section>

                            <button class="close-btn" (click)="removeCourse(course.code)">✕</button>
                        </section>
                    }@empty {
                        <p>Agrega materias o Continua</p>
                    }
                    </section>
                </section>
            </section>
        </section>
    </div>
</div>
