<form class="course-form" [formGroup]="form">
  <section class="course-form__content">
    <h2 class="section-title">Información de Materia:</h2>

    <section class="course-form__content-fields">
      <div class="form-field">
        <input 
          name="sis" 
          type="text" 
          formControlName="code"
          placeholder="Código Materia"
          class="form-input"
        />
      </div>

      <div class="form-field">
        <input 
          name="sis" 
          type="text" 
          formControlName="type"
          placeholder="Modalidad"
          class="form-input"
        />
      </div>

      <div class="form-field">
        <input 
          name="sis" 
          type="text" 
          formControlName="group"
          placeholder="Grupo"
          class="form-input"
        />
      </div>
    </section>
  </section>

  <div class="course-form__actions">
    <button class="button-add" [disabled]="form.invalid" (click)="handleAddCourse()">
      agregar
    </button>

    <button class="button-cancel" [disabled]="!form.dirty" (click)="cancel()">
      cancelar
    </button>
  </div>
</form>
