.course-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.course-form__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.course-form__content-fields {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.course-form__left-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.course-form__actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.button-add {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.9rem;
  background-color: #5D7ED3;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:disabled {
    background-color: rgba(10, 15, 61, 0.3);
    cursor: not-allowed;
  }
}

.button-cancel {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.9rem;
  background-color: #C59D6D;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:disabled {
    background-color: rgba(10, 15, 61, 0.3);
    cursor: not-allowed;
  }
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-input {
  background: #b8b8dc;
  border: 2px solid white;
  border-radius: 0.7rem;
  color: #0a0f3d;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: center;

  &::placeholder {
    color: rgba(10, 15, 61, 0.5);
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.3);
    outline: none;
  }
}
