.wizard__footer {
  position: absolute;
  bottom: 1.7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 3rem;
}

.wizard__button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #c8cef0;
  color: #141862;
}

.wizard__button:disabled {
  cursor: not-allowed;
  color: rgb(163, 163, 163);
}
