<section class="course-card">
  <section class="course-card__actions-left"></section>

  <section class="course-card__details">
    <div class="details__top">
      <div class="course-card__details__field">
        <h4>Código: </h4>

        <p>{{course().code}}</p>
      </div>

      <div class="course-card__details__field">
        <h4>Grupo: </h4>

        <p>{{course().group}}</p>
      </div>
    </div>

    <div class="course-card__details__field">
      <h4>Tipo: </h4>

      <p>{{course().type}}</p>
    </div>
  </section>

  <section class="course-card__actions-right"></section>
</section>
