<section>
  <header>
    <h2>Códigos</h2>
  </header>

  <form [formGroup]="form()">
    <div>
      <label for="one">Código 1</label>

      <input type="text" name="one" id="one" formControlName="codeOne">
    </div>

    <div>
      <label for="two">Código 2</label>

      <input type="text" name="two" id="two" formControlName="codeTwo">
    </div>

    <div>
      <label for="three">Código 3</label>

      <input type="text" name="three" id="three" formControlName="codeThree">
    </div>

    <div>
      <label for="four">Código 4</label>

      <input type="text" name="four" id="four" formControlName="codeFour">
    </div>

    <div>
      <label for="five">Código 5</label>

      <input type="text" name="five" id="five" formControlName="codeFive">
    </div>
  </form>
</section>
